html {
    background-image: linear-gradient(#FBC2BA,#FA816E);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.stickynote {
    width: 80%;
    display: block;
    margin-left: 10%;
    margin-top: 30%;
}
p {
    font-family: effra, arial, helvetica, helvetica neue, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    margin-left: 23%;
}

#list {
    font-family: effra, arial, helvetica, helvetica neue, sans-serif;
    font-weight: 700;
    font-style: normal;
}

#content {
    width: 80%;
    height: 2rem;
    margin-top: 2%;
    margin-bottom: 0.9rem;
    margin-left: 10%;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: thin;
    border-color: #DDD;
}

#add{
    font-family: effra, arial, helvetica, helvetica neue, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    color: white; 
    display: block;
    background-color: #803428;
    height: 2rem;
    width: 82%;
    border-radius: 0.5rem;
    border-color: none;
    margin-bottom: 2em;
    margin-top: 0.6rem;
    margin-left: 10%;
    text-align: center;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: thin;
    border-color: #6293f0;
}

footer {
    margin-left: 36%; 
    margin-top: 20%;
}

.email {
    width: 12%;
    margin-right: 5%;
}

.linkedin {
    width: 10%;
    margin-right: 3%;
}

.youtube {
    width: 10%;
    margin-right: 3%;
}

@media only screen and (min-width: 35rem){
    
        html {
        height: auto;
    }
        #add {
        width: 6rem;
        margin-left: 39%;
            
    }
    
        .stickynote {
        width: 20%;
        margin-left: 39%;
        margin-top: 10%;
    }
    
        #content {
        width: 20%;
        height: 2rem;
        margin-left: 39%;
        margin-top: 0.2%;
    }
    
        p {
        margin-left: 39%;
    }
    
    
        #list {
        margin-left: 38%;
    }
    
        footer {
        margin-left: 41%; 
        margin-top: 20%;
    }
    
        .email {
        width: 3%;
        margin-left: 5%;
    }

        .linkedin {
        width: 3%;
    }
    
        .youtube {
        width: 3%;
        margin-left: 5%;
    }
}
